{% extends 'base.html' %}

{% load static %}

{% block title %}
    Ваше бронирование
{% endblock %}

{% block content %}
    <h3> Ваше бронирование </h3>
    <div class="album py-5 bg-light">
    <div class="container" style="margin-left: 8px;">
        <a class="btn btn-outline-secondary" href="{% url 'index_vacation' %}">На главную</a>
    </div>

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Вилла</th>
                <th scope="col">Количество дней</th>
                <th scope="col">Стоимость аренды на 1 сутки</th>
                <th scope="col">Стоимость аренды на выбранное количество суток
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for item in basket %}

                {% with product_obj_villa=item.the_villa %}
                    <tr>
                        <td>
                            <a href="{% url 'the_villa' product_obj_villa.pk %}">
                                <b>{{ product_obj_villa.title }}</b>
                            </a>
                            <br>
                            <br>
                            {% if product_obj.photo != " " %}
                                <img src=" {{ product_obj_villa.photo.url }}" style="width: 300px; height: 200px;" alt="...">
                            {% else %}
                                <img src="{% static 'image/main_villa.jpg' %}" class="card-img-top" alt="...">
                            {% endif %}
                        </td>
                        <td>
                            {{ item.count_prod }}
                        </td>
                        <td>
                            €{{ item.price_prod|floatformat:2 }}
                        </td>
                        <td>
                            €{{ item.total_price|floatformat:2 }}
                        </td>
                        <td>
                            <a href="{% url 'remove_basket' product_obj_villa.pk %}">Удалить из запроса</a>
                        </td>
                    </tr>

                {% endwith %}
            {% endfor %}
            <tr>
                <td><b>Общая стоимость:</b></td>
                <td colspan="4"></td>
                <td><b>€{{ basket.get_total_price|floatformat:2 }}</b></td>
            </tr>
            </tbody>
        </table>

        <div>
            <a href="{% url 'villas_list' %}" class="btn btn-success">Посмотреть другие виллы</a>
            <a href="#" class="btn btn-warning">Забронировать</a>
            <br>
            <br>
            <a href="{% url 'clear_basket' %}" class="btn btn-danger">Очистить запрос</a>
        </div>
    </div>
    </div>
{% endblock %}



