{% extends 'base.html' %}

{% block title %}
    Редактирование виллы
{% endblock %}

{% block content %}

    <h2>Редактировать виллу</h2>

    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-light rounded-3">

            <form method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_p }}
                </table>
                <input class="btn btn-info" type="submit" value="Редактировать виллу">
                <a href="{% url 'villas_list' %}" class="btn btn-sm btn-outline-secondary">К списку вилл</a>
            </form>
            <br>

            {% if perms.vacation.delete_villa %}
                <form method="post" action="{% url 'del_villa' object.pk %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Удалить виллу">
                </form>
            {% endif %}

        </div>
    </div>

{% endblock %}
