{% extends 'base.html' %}

{% block title %}
    Редактирование яхты
{% endblock %}

{% block content %}

    <h2>Редактировать яхту</h2>

    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-light rounded-3">

            <form method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_p }}
                </table>
                <input class="btn btn-info" type="submit" value="Редактировать яхту">
                <a href="{% url 'yachts_list' %}" class="btn btn-sm btn-outline-secondary">К списку яхт</a>
            </form>
            <br>

            {% if perms.vacation.delete_yacht %}
                <form method="post" action="{% url 'del_yacht' object.pk %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Удалить яхту">
                </form>
            {% endif %}

        </div>
    </div>

{% endblock %}
